<nav id="navbar">
	<div id="navbar-content">
		<a id="button-logo" href="/"><img src="/static/svgs/logo45.svg" /><span id="logo-name">pengrape</span></a>
		<a class="navbar-links" href="/">Home</a>
		<a class="navbar-links" id="utilities-link" href="/#utilities">Utilities</a>
		<a class="navbar-links" href="/docs">Docs</a>
	</div>
</nav>
