<% layout("layouts/boilerplate") %>

<div id="pengrape">pengrape</div>

<p id="description">
	Pengrape is a website to generate anything random. It has a good number of utilities which has been designed to be lightweight, fast and easy to use. It is also a utility library to provide developers anything random. See the
	<a class="link" href="/docs">full docs</a> for details on installation and usage.
</p>

<div id="cards">
	<a class="link-2" href="/utilities/random-number">
		<div class="card-body">
			<h1 class="card-title">Random Number</h1>
			<p class="card-text">Generate random number between the two numbers that you chose.</p>
		</div>
	</a>
	<a class="link-2" href="/utilities/random-color">
		<div class="card-body">
			<h1 class="card-title">Random Color</h1>
			<p class="card-text">Generate HEX, RGB or HSL color code.</p>
		</div>
	</a>
	<a class="link-2" href="/utilities/random-password">
		<div class="card-body">
			<h1 class="card-title">Random Password</h1>
			<p class="card-text">Generate secure passwords based on guidelines that you set.</p>
		</div>
	</a>
	<a class="link-2" href="/utilities/spinner">
		<div class="card-body">
			<h1 class="card-title">Spinner</h1>
			<p class="card-text">Enter names and spin the wheel to pick a random winner.</p>
		</div>
	</a>
	<a class="link-2" href="/utilities/dice-roller">
		<div class="card-body">
			<h1 class="card-title">Dice Roller</h1>
			<p class="card-text">Roll virtual dice.</p>
		</div>
	</a>
	<a class="link-2" href="/utilities/random-text">
		<div class="card-body">
			<h1 class="card-title">Random Text</h1>
			<p class="card-text">Get a random letter, syllable, word, sentence or paragraph.</p>
		</div>
	</a>
</div>
