<section id="section-1">
	<div id="section-1-content">
		<h1>Generate anything random</h1>
		<p>Pengrape is a web service to generate anything random. It has a good number of <a href="#utilities">utilities</a> which has been designed to be lightweight, fast and easy to use.</p>
		<h2>Also a javascript library.</h2>
		<p>See the <a href="/docs">full docs</a> for details on installation and usage.</p>
	</div>
</section>

<section id="section-2">
	<div id="section-2-content">
		<h1>Generate <i class="fas fa-wrench"></i></h1>
		<p>Select a utility in Utilities section, customize it the way you want and generate a random result.</p>
		<h1>Construct <i class="fas fa-tools"></i></h1>
		<p>To generate multiple results, try Construct tab and get the results which are sorted according to your choice.</p>
	</div>
</section>

<section id="utilities">
	<div id="section-3-content">
		<h1>Utilities</h1>
		<p>These utilities are functions that return random values depending on your preferences.</p>
		<div id="cards">
			<a class="card-link" href="/utilities/random-number">
				<div class="card-body">
					<p class="card-title">Random Number</p>
					<p class="card-text">Generate random number between the two numbers that you chose.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-color">
				<div class="card-body">
					<p class="card-title">Random Color</p>
					<p class="card-text">Generate HEX, RGB or HSL color code.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-password">
				<div class="card-body">
					<p class="card-title">Random Password</p>
					<p class="card-text">Generate secure passwords based on guidelines that you set.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/spinner">
				<div class="card-body">
					<p class="card-title">Spinner</p>
					<p class="card-text">Enter names and spin the wheel to pick a random winner.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/dice-roller">
				<div class="card-body">
					<p class="card-title">Dice Roller</p>
					<p class="card-text">Roll virtual dice.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-text">
				<div class="card-body">
					<p class="card-title">Random Text</p>
					<p class="card-text">Get a random letter, syllable, word, sentence or paragraph.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-date">
				<div class="card-body">
					<p class="card-title">Random Date</p>
					<p class="card-text">Generate a date between the two dates that you chose.</p>
				</div>
			</a>
		</div>
	</div>
</section>
