<section id="section-1">
	<div id="section-1-content">
		<img src="/static/svgs/logo.svg" id="main-logo" />
		<h1>Generate anything random.</h1>
		<p>Pengrape is a website to generate anything random. It has a good number of utilities which has been designed to be lightweight, fast and easy to use.</p>
		<h2>Also a javascript library.</h2>
		<p>See the full docs for details on installation and usage.</p>
		<div id="main-buttons">
			<a href="/#utilities" class="btn btn-light">ALL UTILITIES</a>
			<a href="/docs" class="btn btn-light">FULL DOCS</a>
		</div>
	</div>
</section>

<section id="section-2">
	<div id="section-2-content">
		<div class="section-2-content">
			<div class="section-2-content-text">
				<h1>User friendly interface.</h1>
				<p>Pengrape is not overly complex, but instead is straightforward, providing quick access to different tools and options. Everything here is simple, clean and intuitive from full docs to all the utility pages.</p>
			</div>
			<div class="section-2-content-image">
				<img src="/static/svgs/card-1.svg" />
			</div>
		</div>
		<div class="section-2-content">
			<div class="section-2-content-text">
				<h1>Generate multiple results.</h1>
				<p>Construct section allows you to get multiple randomly generated results. Using this section, you can generate thousands of results in seconds without waiting for another page to load.</p>
			</div>
			<div class="section-2-content-image">
				<img src="/static/svgs/card-2.svg" />
			</div>
		</div>
		<div class="section-2-content">
			<div class="section-2-content-text">
				<h1>Customize its behavior.</h1>
				<p>Set how you want the results to be generated. Each utility page provide some options that allow you to set different input values. You can access them anytime from the side panels or from the advanced options section.</p>
			</div>
			<div class="section-2-content-image">
				<img src="/static/svgs/card-3.svg" />
			</div>
		</div>
		<div class="section-2-content">
			<div class="section-2-content-text">
				<h1>Simple yet powerful.</h1>
				<p>
					To make everything as simple as possible, all utility pages are structured with a single page rule. All you have to do is on a single page, which means you don’t have to wait for another page to load to generate results
					or access advanced options.
				</p>
			</div>
			<div class="section-2-content-image">
				<img src="/static/svgs/card-4.svg" />
			</div>
		</div>
		<div class="section-2-content">
			<div class="section-2-content-text">
				<h1>High speed actions.</h1>
				<p>
					Nothing require you to leave the page for a moment. Thanks to its responsive design and good validation system, everything here happens instantly, even getting thousands of randomly generated results in construct
					section.
				</p>
			</div>
			<div class="section-2-content-image">
				<img src="/static/svgs/card-5.svg" />
			</div>
		</div>
	</div>
</section>

<section id="utilities">
	<div id="section-3-content">
		<h1>Utilities</h1>
		<p>These utilities generate random results based on your preferences.</p>
		<div id="cards">
			<a class="card-link" href="/utilities/random-number">
				<div class="card-body">
					<h2 class="card-title">Random Number</h2>
					<p class="card-text">Generate a random number between the two numbers that you chose.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-color">
				<div class="card-body">
					<h2 class="card-title">Random Color</h2>
					<p class="card-text">Generate HEX, RGB or HSL color codes.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-palette">
				<div class="card-body">
					<h2 class="card-title">Random Palette</h2>
					<p class="card-text">Generate beautiful color combinations.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-password">
				<div class="card-body">
					<h2 class="card-title">Random Password</h2>
					<p class="card-text">Generate secure passwords based on guidelines that you set.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/spinner">
				<div class="card-body">
					<h2 class="card-title">Spinner</h2>
					<p class="card-text">Enter names and spin the wheel to pick a random winner.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/dice-roller">
				<div class="card-body">
					<h2 class="card-title">Dice Roller</h2>
					<p class="card-text">Roll virtual dice.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-text">
				<div class="card-body">
					<h2 class="card-title">Random Text</h2>
					<p class="card-text">Get a random placeholder text.</p>
				</div>
			</a>
			<a class="card-link" href="/utilities/random-date">
				<div class="card-body">
					<h2 class="card-title">Random Date</h2>
					<p class="card-text">Generate a date between the two dates that you chose.</p>
				</div>
			</a>
			<a class="card-link empty-cards first-empty"> </a>
			<a class="card-link empty-cards"> </a>
			<a class="card-link empty-cards"> </a>
		</div>
	</div>
</section>
