<% layout("layouts/boilerplate") %>
<h1>Home</h1>
<a href="/utilities/random-number">Random Number Generator</a><br />
<a href="/utilities/random-color">Random Color Generator</a><br />
<a href="/utilities/random-password">Random Password Generator</a><br />
