$primary-color: #eb4763;
$secondary-color: #f1e1e6;
$brown: #574142;
$dark-1: #202020;
$dark-2: #505050;
$dark-3: #a3a3a3;
$light-3: #e1e1e1;
$light-2: #f1f1f1;
$light-1: #fbfbfb;

$font-family: "Poppins", sans-serif;

$border-section: 1px solid $light-3;
$border-radius: 1rem;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
