@import "./main";

body {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 60px auto;
	grid-template-areas: "navbar navbar" "docs docs";
	gap: 1.5rem;
	user-select: auto;
	color: $darker-color;
}

#docs {
	grid-area: docs;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	padding: 1.5rem;
}

.method-section {
	padding: 1rem 0px;
}

code {
	color: $darker-color;
	padding: 0.5rem;
	width: 41px;
}

.code {
	display: flex;
	flex-direction: column;
	overflow: auto;
	white-space: nowrap;
	padding: 0.5rem;
	background-color: #f4f4f4;
	border-left: rgba($color: $primary-color, $alpha: 0.6) 3px solid;
}

pre {
	white-space: pre-wrap;
}

h3,
h4 {
	padding: 0.5rem 0;
}

h4 {
	font-weight: 300;
	color: $dark-color;
	padding-top: 1rem;
}

a {
	text-decoration: none;
}

.keyword {
	color: $primary-color;
}

.method {
	color: #6f42c1;
}

.parameter {
	color: #005cc5;
}

.comment {
	color: $dark-color;
}

@media only screen and (max-width: 600px) {
	.logo {
		padding: 0 0.5rem 0px;
	}
	.fake {
		display: none;
	}

	.code {
		padding-left: 0;
	}

	#title {
		font-size: 1rem;
		padding: 0 0.5rem 0;
	}
}
