@import "./main";

body {
	user-select: auto;
}

#navbar {
	user-select: none;
}

#installation {
	display: flex;
	justify-content: center;
	align-items: center;
}

#installation-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 1248px;
	padding-top: 2rem;
	margin: 0 1rem;
}

#usage {
	display: flex;
	justify-content: center;
	align-items: center;
}

#usage-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 1248px;
	padding: 2rem 0;
	margin: 0 1rem;
}

#methods {
	display: flex;
	justify-content: center;
	align-items: center;
}

#methods-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 1248px;
	padding: 2rem 0;
	margin: 0 1rem;
}

.method-section {
	padding: 1rem 0;
	width: 100%;
}

code {
	color: $dark-1;
	padding: 1rem;
	width: 41px;
}

.code {
	display: flex;
	flex-direction: column;
	overflow: auto;
	white-space: nowrap;
	background-color: $light-1;
	border-radius: $border-radius;
	border: $border-section;
}

.no-select {
	user-select: none;
}

h2 {
	font-size: 2.5rem;
	font-weight: 500;
	user-select: none;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0.5rem 0;
	user-select: none;
}

h4 {
	font-size: 1rem;
	font-weight: 400;
	color: $dark-2;
	padding: 1.5rem 0 0.5rem;
	user-select: none;
}

.keyword {
	color: $primary-color;
}

.method {
	color: #6f42c1;
}

.parameter {
	color: #005cc5;
}

.comment {
	color: $dark-2;
	padding-right: 1rem;
}

@media only screen and (max-width: 450px) {
	h2 {
		font-size: 2rem;
	}
}
