@import "./main";

.logo {
	font-size: 4rem;
	padding: 2rem 1rem;
}

#description {
	font-size: 1.5rem;
	color: $darker-color;
	width: 70%;
	padding: 2rem 1rem;
	line-height: 40px;
	font-weight: 300;
}

.link {
	text-decoration: none;
	color: $primary-color;
	font-weight: 400;
}

.link-2 {
	display: flex;
	text-decoration: none;
	color: $darker-color;
	border-radius: $border-radius;
	width: 250px;
	height: 350px;
}

.link-2:hover {
	color: $darker-color;
}

#cards {
	padding: 2rem 1rem 0 1rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
	justify-content: start;
}

.card-title {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 80px;
	margin-bottom: 1.5rem;
}

.card-text {
	height: 150px;
	color: $dark-color;
	font-weight: 300;
}

.card-body {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	padding: 2rem 1rem;
}

@media only screen and (max-width: 800px) {
	.logo {
		font-size: 3rem;
	}

	#description {
		width: 100%;
		line-height: normal;
	}
}

@media only screen and (max-width: 611px) {
	#description {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	#cards {
		justify-content: center;
		padding-top: 0;
	}

	.link-2 {
		height: 160px;
	}

	.card-title {
		margin: 0;
	}

	.card-text {
		display: none;
	}
}
