* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: var(--spacing-medium) var(--spacing-large) var(--spacing-large);
	font-size: var(--font-size-medium);
	font-family: var(--font-family);
	display: grid;
	grid-template-columns: var(--first-column) var(--second-column);
	grid-template-rows: var(--first-row) var(--second-row);
	grid-template-areas: "navbar navbar" "results options";
	gap: var(--spacing-large);
	max-width: 1440px;
	margin: auto;
}

#navbar {
	grid-area: navbar;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pengrape,
#pengrape-fake {
	font-size: var(--font-size-large);
	font-family: var(--font-family-special);
	background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 0px var(--spacing-large);
}

#pengrape-fake {
	opacity: 0;
	cursor: default;
}

#title {
	font-size: var(--font-size-large);
	padding: 0px var(--spacing-large);
}

#results-section {
	grid-area: results;
}

#results-div {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#results-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-medium);
}

#copy-button-fake {
	opacity: 0;
	cursor: default;
}

#results-output {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px var(--spacing-medium) var(--spacing-medium);
	min-height: var(--results-output-min-height-large);
	word-break: break-all;
}

#output {
	color: var(--darker-color);
	font-size: var(--font-size-xlarge);
}

#options-section {
	grid-area: options;
}

#option-1 {
	margin-bottom: var(--spacing-large);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#row1 {
	padding: var(--spacing-large) var(--spacing-large) var(--spacing-tiny);
}

#row2 {
	padding: var(--spacing-tiny) var(--spacing-large) var(--spacing-large);
}

#option-2 {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

#row3 {
	padding: var(--spacing-large) var(--spacing-large) var(--spacing-tiny);
}

#row4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-tiny) var(--spacing-large) var(--spacing-small);
}

#row5,
#row6 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-small) var(--spacing-large) var(--spacing-small);
}

#row7 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-small) var(--spacing-large) var(--spacing-large);
}

@media only screen and (max-width: 960px) {
	body {
		padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
		grid-template-columns: var(--first-column);
		grid-template-rows: var(--first-row) var(--second-row);
		grid-template-areas: "navbar" "results" "options";
		gap: var(--spacing-medium);
	}

	#pengrape-fake {
		display: none;
	}

	#results-output {
		min-height: var(--results-output-min-height-medium);
	}

	#options-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	#option-1,
	#option-2 {
		width: 48.5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#row1 {
		padding: var(--spacing-medium);
		padding-bottom: var(--spacing-tiny);
		width: 270px;
	}

	#row2 {
		padding: var(--spacing-medium);
		padding-top: var(--spacing-tiny);
		width: 270px;
	}
	#row3 {
		padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-tiny);
		width: 270px;
	}

	#row4 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-tiny) var(--spacing-medium) var(--spacing-small);
		width: 270px;
	}

	#row5,
	#row6 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-small) var(--spacing-medium) var(--spacing-small);
		width: 270px;
	}

	#row7 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-small) var(--spacing-medium) var(--spacing-medium);
		width: 270px;
	}
}

@media only screen and (max-width: 600px) {
	#pengrape {
		padding: 0px var(--spacing-tiny) 0px;
	}

	#title {
		font-size: var(--font-size-medium);
		padding: 0px var(--spacing-tiny) 0px;
	}

	#results-output {
		min-height: var(--results-output-min-height-small);
	}
	#output {
		font-size: var(--font-size-large);
	}

	#copy-button-fake {
		display: none;
	}

	#results-output {
		justify-content: start;
	}

	#options-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#option-1 {
		width: 100%;
		margin-bottom: var(--spacing-medium);
	}

	#option-2 {
		width: 100%;
	}
}

@media only screen and (max-width: 315px) {
	body {
		display: none;
	}
}
