@import "./main";

body {
	display: grid;
	grid-template-columns: auto 300px;
	grid-template-rows: 60px auto;
	grid-template-areas: "navbar navbar" "results options";
	gap: 1.5rem;
}

#results-section {
	grid-area: results;
}

#results-div {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#results-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#undo-button {
	margin: 0 1rem 0px auto;
}

#button {
	margin-left: auto;
}

#results-output {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem 1rem;
	min-height: 400px;
}

#output {
	color: $darker-color;
	font-size: 2.5rem;
}

#options-section {
	grid-area: options;
}

#option-1 {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	display: flex;
	justify-content: center;
	align-items: center;
}

#option-1-div {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
}

@media only screen and (max-width: 800px) {
	body {
		grid-template-columns: auto;
		grid-template-rows: 60px auto;
		grid-template-areas: "navbar" "results" "options";
	}

	#results-output {
		min-height: 300px;
	}

	#option-1-div {
		width: 330px;
	}
}

@media only screen and (max-width: 600px) {
	.logo {
		padding: 0 0.5rem 0px;
	}
	.fake {
		display: none;
	}

	#title {
		font-size: 1rem;
		padding: 0 0.5rem 0;
	}

	#button {
		margin: 0;
	}

	#results-output {
		min-height: 200px;
	}

	#output {
		font-size: 1.5rem;
	}

	#results-output {
		justify-content: start;
	}

	#option-1-div {
		width: 300px;
	}
}
