@import "./main";

body {
	padding: $spacing-medium $spacing-large $spacing-large;
	font-size: $font-size-medium;
	font-family: $font-family;
	display: grid;
	grid-template-columns: $first-column $second-column;
	grid-template-rows: $first-row $second-row;
	grid-template-areas: "navbar navbar" "results options";
	gap: $spacing-large;
	max-width: 1440px;
	margin: auto;
}

#navbar {
	grid-area: navbar;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pengrape,
#pengrape-fake {
	font-size: $font-size-large;
	font-family: $font-family-special;
	background-image: linear-gradient(to right, $primary-color, $secondary-color);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 0px $spacing-large;
}

#pengrape-fake {
	opacity: 0;
	cursor: default;
}

#title {
	font-size: $font-size-large;
	padding: 0px $spacing-large;
}

#results-section {
	grid-area: results;
}

#results-div {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#results-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacing-medium;
}

#copy-button-fake {
	opacity: 0;
	cursor: default;
}

#results-output {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px $spacing-medium $spacing-medium;
	min-height: $results-output-min-height-large;
}

#output {
	color: $darker-color;
	font-size: $font-size-xlarge;
}

#options-section {
	grid-area: options;
}

#option-1 {
	margin-bottom: $spacing-large;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#row1 {
	padding: $spacing-large $spacing-large $spacing-tiny;
}

#row2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $spacing-tiny $spacing-large $spacing-large;
}

#length-input {
	width: 60%;
}

#unit-output {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#option-2 {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#row3 {
	padding: $spacing-large $spacing-large $spacing-tiny;
}

#row4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing-tiny $spacing-large $spacing-small;
}

#row5,
#row6,
#row7 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing-small $spacing-large $spacing-small;
}

#row8 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing-small $spacing-large $spacing-large;
}

@media only screen and (max-width: 960px) {
	body {
		padding: $spacing-medium $spacing-medium $spacing-medium;
		grid-template-columns: $first-column;
		grid-template-rows: $first-row $second-row;
		grid-template-areas: "navbar" "results" "options";
		gap: $spacing-medium;
	}

	#pengrape-fake {
		display: none;
	}

	#results-output {
		min-height: $results-output-min-height-medium;
	}

	#output {
		font-size: $font-size-large;
	}

	#options-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	#option-1,
	#option-2 {
		width: 48.5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#row1 {
		padding: $spacing-medium;
		padding-bottom: $spacing-tiny;
		width: 270px;
	}

	#row2 {
		padding: $spacing-medium;
		padding-top: $spacing-tiny;
		width: 270px;
	}

	#unit-output {
		font-size: 16px;
	}
	#row3 {
		padding: $spacing-medium $spacing-medium $spacing-tiny;
		width: 270px;
	}

	#row4 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $spacing-tiny $spacing-medium $spacing-small;
		width: 270px;
	}

	#row5,
	#row6,
	#row7 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $spacing-small $spacing-medium $spacing-small;
		width: 270px;
	}

	#row8 {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $spacing-small $spacing-medium $spacing-medium;
		width: 270px;
	}
}

@media only screen and (max-width: 600px) {
	#pengrape {
		padding: 0px $spacing-tiny 0px;
	}

	#title {
		font-size: $font-size-medium;
		padding: 0px $spacing-tiny 0px;
	}

	#results-output {
		min-height: $results-output-min-height-small;
	}
	#output {
		font-size: $font-size-large;
	}

	#copy-button-fake {
		display: none;
	}

	#results-output {
		justify-content: start;
	}

	#options-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#option-1 {
		width: 100%;
		margin-bottom: $spacing-medium;
	}

	#option-2 {
		width: 100%;
	}
}
