@import "./main";

#result-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

#parity-content {
	display: flex;
	flex-direction: column;
}

#precision-content {
	display: none;
	flex-direction: column;
}

#option-1-1-content {
	border-bottom: $border-section;
}

#option-2 {
	border: none;
}

#button-undo {
	display: none;
}

@media only screen and (max-width: 700px) {
	#option-1 {
		border: none;
	}

	#option-2,
	#option-3 {
		display: none;
	}

	#result-content {
		font-size: 2.5rem;
	}

	#parity-content {
		flex-direction: row;
		width: 100%;
	}

	#precision-content {
		flex-direction: row;
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	#parity-content {
		flex-direction: column;
	}

	#precision-content {
		flex-direction: column;
	}
}
