@import "./main";

#result-content {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

#range-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#range-content > div {
	display: flex;
	align-items: center;
}

.range-label {
	width: 30%;
	margin-bottom: 0;
}

.range-output {
	margin-right: 40%;
	width: 60%;
	margin-bottom: 0;
	text-align: end;
}

.form-range {
	width: 60%;
	margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
	#option-2 {
		border: none;
	}

	#option-3 {
		display: none;
	}

	#result-content {
		font-size: 2.5rem;
	}
}
