@import "./main";

body {
	display: grid;
	grid-template-columns: auto 300px;
	grid-template-rows: 60px auto;
	grid-template-areas: "navbar navbar" "results options";
	gap: 1.5rem;
}

#results-section {
	grid-area: results;
}

#results-div {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#results-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#results-output {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem 1rem;
	min-height: 400px;
	word-break: break-all;
}

#output {
	color: $darker-color;
	font-size: 2.5rem;
}

#options-section {
	grid-area: options;
}

#option-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#min {
	margin-left: 0.5rem;
	margin-right: auto;
	width: 70px;
	text-align: center;
}

#max {
	margin-left: 0.5rem;
	width: 70px;
	text-align: center;
}

#random-length-div {
	display: none;
}

#option-1-div {
	width: 300px;
}

#option-2-div {
	width: 300px;
}

.row:first-child {
	padding: 2rem 2rem 0.5rem;
}

.row {
	padding: 0.5rem 2rem 0.5rem;
	display: flex;
	justify-content: start;
	align-items: center;
}

.row:last-child {
	padding: 0.5rem 2rem 2rem;
}

#option-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#symbol-pool-div {
	display: none;
}

#symbol-pool {
	text-align: center;
}

#exclude-div {
	padding-top: 2rem;
}

@media only screen and (max-width: 800px) {
	body {
		grid-template-columns: auto;
		grid-template-rows: 60px auto;
		grid-template-areas: "navbar" "results" "options";
	}

	#results-output {
		min-height: 300px;
	}

	#option-1-div {
		width: 330px;
	}

	#option-2-div {
		width: 330px;
	}
}

@media only screen and (max-width: 600px) {
	.logo {
		padding: 0 0.5rem 0;
	}
	.fake {
		display: none;
	}

	#title {
		font-size: 1rem;
		padding: 0 0.5rem 0;
	}

	#results-output {
		min-height: 200px;
		justify-content: start;
	}

	#output {
		font-size: 1.5rem;
	}

	#option-1-div {
		width: 270px;
	}

	#option-2-div {
		width: 270px;
	}
}
