@import "./main";

body {
	display: grid;
	grid-template-columns: auto 300px;
	grid-template-rows: 60px auto;
	grid-template-areas: "navbar navbar" "results options";
	gap: 1.5rem;
}

#results-section {
	grid-area: results;
}

#results-div {
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

#results-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

#arrow {
	color: $dark-color;
}

#results-output {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem 2rem;
}

#chart-container {
	width: 60%;
}

#output {
	color: $darker-color;
	font-size: 2rem;
}

#options-section {
	grid-area: options;
}

#option-1 {
	margin-bottom: 1.5rem;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

.row:first-child {
	padding: 2rem 2rem 0.5rem;
}

.row {
	padding: 0.5rem 2rem 0.5rem;
	display: flex;
	justify-content: space-between;
}

.row:last-child {
	padding: 0.5rem 2rem 2rem;
}

#input {
	margin-right: 0.5rem;
}

#add {
	padding: 1rem;
}

#chart-legends {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.legend-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
}

.item-label {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px $dark-color solid;
	margin-right: 0.5rem;
}

.item-title {
	border: 2px $dark-color solid;
	border-radius: $border-radius;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 183px;
	height: 45px;
	padding: 0 1rem;
	color: $dark-color;
}

.delete-button {
	color: $dark-color;
	text-decoration: none;
}

.delete-button:hover {
	color: $darker-color;
	cursor: pointer;
}

.disabled {
	color: $dark-color;
	opacity: 0.6;
	pointer-events: none;
}

.disabled:hover {
	opacity: 0.6;
	cursor: default;
	pointer-events: none;
}

@media only screen and (max-width: 800px) {
	body {
		grid-template-columns: auto;
		grid-template-rows: 60px auto;
		grid-template-areas: "navbar" "results" "options";
	}

	#option-1 {
		width: 100%;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.row {
		width: 300px;
	}
}

@media only screen and (max-width: 600px) {
	.logo {
		padding: 0 0.5rem 0px;
	}
	.fake {
		display: none;
	}

	#output {
		color: $darker-color;
		font-size: 1.5rem;
	}

	#title {
		font-size: 1rem;
		padding: 0 0.5rem 0;
	}
}
