@import "./main";

#tabs-right-content,
#button-undo,
#button-copy {
	display: none;
}

#result-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#output-content {
	color: $dark-1;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#chart-content {
	max-width: 440px;
	width: 80%;
}

#arrow {
	color: $dark-2;
}

#sidebar .input-contents {
	padding: 0;
}

#sidebar .input-contents:first-of-type {
	padding-top: 0.5rem;
}

.legend-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
}

.item-label {
	width: 3rem;
	height: 3rem;
	border-radius: 1rem;
	border: 1px solid $dark-3;
	margin-right: 0.5rem;
}

.item-title {
	border: 1px solid $dark-3;
	border-radius: $border-radius;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 3rem;
	padding: 0 1rem;
	color: $dark-2;
}

.buttons-delete {
	color: $dark-2;
	text-decoration: none;
}

.buttons-delete:hover {
	color: $dark-2;
	cursor: pointer;
}

.disabled {
	color: $dark-3;
	opacity: 0.6;
	pointer-events: none;
}

.disabled:hover {
	opacity: 0.6;
	cursor: default;
	pointer-events: none;
}

@media only screen and (max-width: 900px) {
	#chart-content {
		width: 80%;
		min-width: 360px;
	}
}

@media only screen and (max-width: 700px) {
	#chart-content {
		max-width: 360px;
		width: 80%;
		min-width: 330px;
	}
}

@media only screen and (max-width: 450px) {
	#chart-content {
		width: 99%;
		min-width: 100px;
	}
}
