<% layout("layouts/boilerplate") %>
<a href="/">Back</a>
<h4 id="output">-</h4>
<h4 id="total-output">-</h4>
<input type="button" id="button" value="Roll" />

<h1>Dice Roller</h1>
<input id="amounts" type="number" value="1" />
<h4>dice</h4>
<input id="sides" type="number" value="6" />
<h4>sided</h4>
<label for="total-button">Total</label>
<input type="checkbox" id="total-button" value="" />
