<% layout("layouts/boilerplate") %>

<nav id="navbar">
	<a href="/" id="pengrape">pengrape</a>
	<span id="title">Random Password</span>
	<a id="pengrape-fake">pengrape</a>
</nav>

<section id="results-section">
	<div id="results-div">
		<div id="results-buttons">
			<button id="copy-button-fake" class="btn btn-secondary btn-sm"><i class="far fa-copy"></i></button>
			<input type="button" id="button" class="btn btn-primary" value="Generate" />
			<button id="copy-button" class="btn btn-secondary btn-sm"><i class="far fa-copy"></i></button>
		</div>
		<div id="results-output">
			<span id="output"></span>
		</div>
	</div>
</section>

<section id="options-section">
	<div id="option-1">
		<div id="row1">
			<label for="length" class="form-label">Password length</label>
		</div>

		<div id="row2">
			<input type="number" id="length" value="20" class="form-control" />
		</div>
	</div>
	<div id="option-2">
		<div id="option-2-div">
			<div id="row3">
				<label class="form-label">Include</label>
			</div>
			<div id="row4">
				<input type="checkbox" name="type" id="lowercase" class="btn-check" checked />
				<label for="lowercase" class="btn btn-outline-primary btn-lg">Lowercase letters</label>
			</div>
			<div id="row5">
				<input type="checkbox" name="type" class="btn-check" id="uppercase" checked />
				<label for="uppercase" class="btn btn-outline-primary btn-lg">Uppercase letters</label>
			</div>
			<div id="row6">
				<input type="checkbox" name="type" class="btn-check" id="number" checked />
				<label for="number" class="btn btn-outline-primary btn-lg">Numbers</label>
			</div>
			<div id="row7">
				<input type="checkbox" name="type" id="symbol" class="btn-check" />
				<label for="symbol" class="btn btn-outline-primary btn-lg">Symbols</label>
			</div>
		</div>
	</div>
</section>
