<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Random Color</title>
	</head>
	<body>
		<input type="radio" id="hex" name="color" value="hex" checked />
		<label for="hex">HEX</label>
		<input type="radio" id="rgb" name="color" value="rgb" />
		<label for="rgb">RGB</label>
		<input type="radio" id="hsl" name="color" value="hsl" />
		<label for="hsl">HSL</label>
		<p id="output">Click generate to create a color code.</p>
		<button id="button">Generate</button>
		<a href="/">Home</a>
	</body>
	<script type="module" src="/static/javascripts/randomColor.js"></script>
</html>
