<% layout("layouts/boilerplate") %>
<h1>Random Text</h1>
<a href="/">Back</a>
<h4 id="output">-</h4>
<label for="length-input">Length</label>
<input type="number" id="length-input" />
<span id="unit-output">words</span>
<input id="button" type="button" value="Generate" /><br />

<label for="letter">Letter</label>
<input type="radio" id="letter" name="type" /> <br />
<label for="syllable">Syllable</label>
<input type="radio" id="syllable" name="type" /><br />
<label for="word">Word</label>
<input type="radio" id="word" name="type" /><br />
<label for="sentence">Sentence</label>
<input type="radio" id="sentence" name="type" checked /><br />
<label for="paragraph">Paragraph</label>
<input type="radio" id="paragraph" name="type" />
