<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<% layout("layouts/boilerplate") %>

<nav id="navbar">
	<a href="/" class="logo">pengrape</a>
	<span id="title">Spinner</span>
	<a class="logo fake">pengrape</a>
</nav>

<section id="results-section">
	<div id="results-div">
		<div id="results-buttons">
			<input type="button" id="button" class="btn btn-primary" value="Spin" />
		</div>
		<div id="results-output">
			<div id="output"></div>
			<div id="chart-container">
				<canvas id="chart"></canvas>
			</div>
		</div>
	</div>
</section>

<section id="options-section">
	<div id="option-1">
		<div class="row">
			<label for="add" class="form-label">Entries</label>
		</div>

		<div class="row">
			<input type="text" class="form-control" id="input" autocomplete="off" />
			<button id="add" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></button>
		</div>

		<div class="row">
			<div id="chart-legends"></div>
		</div>
	</div>
</section>
